//import google fonts
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

body {
    background-color: 	#0C0F1A;
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
}

h1 {
    color: #3B75C0;
    font-family: Bruno Ace SC;
    font-weight: 400;
    font-size: 45px;
}

h2 {
    color: #B3B3B3;
    font-family: Bruno Ace SC;
    font-weight: 100;
    font-size: 35px;

    &.headerText {
        padding-top: 0;
        padding-bottom: 0;
        $marginTopBottom: 20px;
        margin-top: $marginTopBottom;
        margin-bottom: $marginTopBottom;
        font-size: 30px;
        font-weight: bolder;
        transition-property: transform;
        transition-duration: 0.75s;
        transition-timing-function: ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.15);
        }
    }
}

h3 {
    color: #8eb886;
    font-family: Inclusive Sans;
    font-size: 25px;
    font-weight: 700;

    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: ease;
    transform: scale(1);

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

p {
    color: 	#bfd8e2;
    font-family: Inclusive Sans;
    font-size: 17px;
    font-weight: 400;
}

h1, h2, h3, p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 75vw;

    $alignMargin: 10%;

    &.alignLeft {
        margin-left: $alignMargin;
        margin-right: auto !important;
    }

    &.alignRight {
        margin-right: $alignMargin;
        margin-left: auto !important;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
    width: fit-content;
}

table {
    table-layout: fixed;
    width: 100%;
}

div {
    margin-left: auto;
    margin-right: auto;
    border: none;
    display: block;

    &.dividerLine {
        background-color: #7AC46C;
        height: 5px;
        width: 75%;
        $marginTopBottom: 30px;
        margin-top: $marginTopBottom;
        margin-bottom: $marginTopBottom;
    }

    &#headerWrapper {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        height: 100px;
        background-color: rgba(14, 18, 20, 0.9);
    }

    &.headerLine {
        width: 80%;
        height: 2px;
        background-color: white;

        transition-property: transform;
        transition-duration: 0.75s;
        transition-timing-function: ease;
        transform: scale(0, 1);
        transform-origin: left;

        &.shown {
            transform: scale(1, 1);
        }

        &.headerLineBottom {
            transform-origin: right !important;
        }
    }

    &#footerWrapper {
        width: 100%;
    }
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;

    &#footerImage {
        height: 50vh;
        width: auto;
        border-radius: 20px;
    }
}

.noVerticalSpacing {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}