@use '../../scss/variables' as vars;

div.iconButtonWrapper {

  cursor: pointer;
  width: min-content;

  transition: transform vars.$transition-fast;
  transform-origin: center;
  transform: scaleY(0);

  &.visible {
    transform: scaleY(1);

    &:hover {
      transform: scale(1.1);
    }
  }

  > img {
    padding: 0;
    margin: 0;
  }
}