@use '../../../scss/variables' as vars;

.passwordInputWrapper {
  position: relative;

  input {
    padding-right: vars.$space-7;
  }

  button {
    position: absolute;
    right: vars.$space-2;
    bottom: 0;
    transform: translateY(-2.3rem); //makes the button go back up into the input it represents

    display: flex;
    align-items: center;
    justify-content: center;
    padding: vars.$space-1;
    background: none;
    border: none;
    cursor: pointer;
    color: vars.$color-text-muted;
    transition: color vars.$transition-fast;

    &:hover, &:focus-visible {
      color: vars.$color-primary;
    }
  }
}