@use '../../scss/variables' as vars;

footer {

  //the footer logo
  > img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: auto;
    height: 43vh;

    border-radius: vars.$radius-md;
    box-shadow: vars.$glow-orbit;
  }
}