@use '../../scss/variables' as vars;

div#bluemapWrapper {

  position: relative;
  overflow: hidden;

  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  > iframe#bluemapFrame {
    margin: vars.$space-4 auto;
    display: block;

    width: 95vw;
    height: 70vh;

    border-radius: vars.$radius-lg;
    border: vars.$color-border solid 3px;
    box-shadow: vars.$glow-orbit;
  }

  > .iconButtonWrapper {
    position: absolute;
    margin-top: 70px;
    transform: translateX(-100%);
    scale: 1.3;
    transition: transform vars.$transition-base, scale vars.$transition-fast;

    &.visible {
      transform: translateX(20px);

      &:hover {
        scale: 1.5;
      }
    }
  }
}