@use 'variables' as vars;

body {
  background-color: vars.$color-bg;
}

div.sectionDivider {
  width: 75%;
  height: 5px;
  background-color: vars.$color-secondary;
  margin: vars.$space-1 auto;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  padding: vars.$space-1;

  transition: transform vars.$transition-base;
  &:hover {
    transform: scale(1.1);
  }
}