@use 'variables' as vars;

body {
  background-color: vars.$color-bg;
}

div.sectionDivider {
  width: 75%;
  height: 5px;
  background-color: vars.$color-secondary;
  margin: vars.$space-1 auto;
  display: block;
}

//wraps page content. Excludes header & footer
#content {
  margin-top: 4.5rem;
}