// Better Server Colour Scheme
@use 'variables.scss' as vars;
@use 'text.scss';
@use 'footer.scss';
@use 'header.scss';
@use 'fancyButton.scss';
@use 'pageHeader.scss';
@use 'card.scss';
@use 'serverStatusOverlay.scss';
@use 'worldMap.scss';
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
	min-height: 100vh;
	background: linear-gradient(135deg, vars.$secondary-bg 0%, vars.$primary-bg 100%);
	background-color: vars.$primary-bg;
	color: vars.$star-white;
}

a {
    color: inherit;
    text-decoration: none;
}

div {

    &.dividerLine {
        width: 75%;
        height: 2.5px;
        background: linear-gradient(90deg, vars.$primary-blue 0%, vars.$accent-ring 100%);
        border-radius: 2px;
        box-shadow: 0 2px 8px vars.$shadow;
        opacity: 0.85;
        margin-left: auto;
        margin-right: auto;
    }

    &#content {
        margin-top: 110px;
        padding-top: 18px;
        transition: margin-top 0.3s, padding-top 0.3s;
    }
}

button {
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 80vh;
    max-width: 50vw;

    &.logo {
        background: none;
        color: vars.$primary-blue;
        filter: drop-shadow(0 2px 8px vars.$shadow);
        border-radius: 2%;
    }

    &.button {
        width: 30px;
        height: auto;
        background-color: transparent;

        transition-property: transform;
        transition-duration: 0.25s;
        transition-timing-function: ease;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

table {
    table-layout: fixed;
    width: 100%;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid vars.$secondary-bg;
    border-radius: 20px;
}

.noVerticalSpacing {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}