@use 'variables.scss' as vars;

button#worldMapFullscreenButton {
    position: absolute;
    margin-left: 4px;
    z-index: 10;
    transition-property: transform opacity;
    transition-duration: 0.33s;
    transition-timing-function: ease;
    transform: translateY(-20px);
    opacity: 0;

    &.shown {
        opacity: 1;
        transform: translateY(50px);
    }
}


$mapWidth: 85vw;
$mapHeight: 60vh;

div#worldMapWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    width: $mapWidth;
    height: $mapHeight;
}

iframe#worldMapIframe {
    width: $mapWidth;
    height: $mapHeight;
    border: 4px solid transparent;
    box-sizing: border-box;
    border-image: linear-gradient(120deg, rgba(24,28,43,0.82) 0%, rgba(58,110,219,0.7) 100%);
    border-image-slice: 1;
    mask-image: -webkit-radial-gradient(white, black);
}